/* ----------------------------------- */
/* ------------slide show------------- */
/* ----------------------------------- */

/* ---------------------------------------- */
/* ------------Hearer---------------------- */
/* ---------------------------------------- */
.header{
  height:var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);

}

.header__navbar{
  display:flex;
  justify-content: space-between;
}

.header__navbar-list{
  list-style: none;
  padding-left: 0;
  margin: 5px 0 0 0;
  display: flex;
}

.header__navbar-item{
  display: inline-block;
  margin: 0 8px;
  position: relative;
  min-height: 25px;
}

.header__navbar-link{
  
}

.header__navbar-user-img{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name{
  margin-left: 4px;
  font-size: 1.4rem;
  font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu{
  display: block;
}

.header__navbar-user-menu{
  position: absolute;
  padding-left: 0;
  top: calc(100% + 6px);
  right: 0;
  width: 160px;
  background-color: var(--white-color);
  border-radius: 2px;
  list-style: none;
  z-index: 1;
  box-shadow: 0 1px 1px #ccc;
  display: none;
}

.header__navbar-user-menu::before{
  content: "";
  border-style: solid;
  border-width: 16px 26px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 0px;
  top: -28px;
}

.header__navbar-user-menu::after{
  content: "";
  display: block;
  position: absolute;
  right: 4px;
  top: -8px;
  width: 60%;
  height: 10px;
}

.header__navbar-user-item--separate{
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a{
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 8px 16px;
}

.header__navbar-user-item a:first-child{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

}

.header__navbar-user-item a:last-child{
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

}

.header__navbar-user-item a:hover{
  background-color: #fafafa;
}

.header__navbar-user{
  display: flex;
  justify-items: center;
  position: relative;
}

.header__navbar-item--has-notify:hover .header__notify,
.header__navbar-item-has-qr:hover .header__qr{
  display: block;
}

.header__navbar-item,
.header__navbar-link{
  display: inline-block;
  font-size:1.3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight:300;
}
.header__navbar-icon--link:hover,
.header__navbar-item:hover,
.header__navbar-link:hover{
  cursor: pointer;
  color: rgba(255,255,255,0.7);
}

.header__navbar-item,
.header__navbar-link,
.header__navbar-icon--link{
  display: flex;
  align-items: center;
}

.header__navbar-item--strong{
  font-weight:500;
}

.header__navbar-item--sparate::after{
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 16px;
  border-left:1px solid #fb9086;
  right: -9px;
  top: 50%;
  transform: translateY(-50%)
}

.header__navbar-icon--link{
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon--link:nth-child(2){
  margin-left: 3px;
}

.header__navbar-icon{
  font-size: 1.8rem;
  margin: 0 5px;
}

.header__navbar--title-no-pointer{
  cursor: text;
  color: var(--white-color);
}
/* header QR code */
.header__qr::before{
  content:"";
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  top: -13px;

}
.header__qr{
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: 120%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.3s;
  z-index: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr-img{
  width: 100%;
}

.header__qr-apps{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.header__qr-download-img{
  height: 16px;
}

.header__qr-link:nth-child(1){
  margin-left:11px;
}

.header__qr-link:nth-child(2){
  margin-right:11px;
}

/* header notification */
.header__notify{
  position: absolute;
  top:118%;
  right: 0;
  width: 404px;
  border: 1px solid #d3d3d3;
  background-color: var(--white-color);
  cursor: default;
  transform-origin: calc(100% -32px) top;
  animation: headerFadeIn ease-in 0.1s;
  will-change: opacity, transform;
  display: none;
  z-index: 3;
  border-radius: 2px;
}

.header__notify::before{
  content: "";
  border-style: solid;
  border-width: 20px 26px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 0px;
  top: -28px;
}

.header__notify::after{
  content: "";
  display: block;
  position: absolute;
  /* background-color:red; */
  top: -10px;
  right: 0px;
  width: 90px;
  height: 20px;
}

.header__notify-header{
  height: 40px;
  background-color: var(--white-color);
}

.header__notify-header h3{
  color: #666;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
  user-select: none;
}

.header__notify-list{
  padding-left: 0;
}

.header__notify-item{
  display:flex;
}

.header__notify-item:hover{
  background-color: #f7f7f7;
}

.header__notify-item--viewed{
  background-color: rgba(238, 77, 45,0.09);
}

.header__notify-link{
  display:flex;
  width: 100%;
  padding: 12px;
  text-decoration: none;
}

.header__notify-img{
  width: 48px;
  object-fit: contain;
}

.header__notify-info{
  margin-left: 12px;
}

.header__notify-name{
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.8rem;
}

.header__notify-description{
  font-size: 1.2rem;
  color: #756f6e;
  line-height: 1.6rem;
  margin-top: 4px;
}

.header__notify-footer{
  display: flex; 
}

.header__notify-footer-btn{
  text-decoration: none;
  color: var(--text-color);
  width: 100%;
  padding: 8px 0px;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

/* modal layouts */
.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  animation: fadeIn ease-in 0.2s;
  display: none;
  z-index: 3;
}

.modal__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.4);
  z-index: 2;
  display: none;
}

.modal__body{
  margin: auto;
  position: relative;
  z-index: 3;
  animation: scale linear 0.1s;
}

/* auth modal */
.auth-form{
  width: 500px;
  padding-top: 20px;
  border-radius: 5px;
  background-color: var(--white-color);
  overflow: hidden;
  display: none;
}

.auth-form__container{
  padding: 0 3.2rem;
}

.auth-form__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.6rem;
  padding-left: 12px;
  padding-right: 12px;
}

.auth-form__heading{
  font-size: 2.2rem;
  font-weight:400;
  color: var(--text-color);
}

.auth-form__switch-btn{
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}

.auth-form__form{
  margin-top: 1.6rem;
}

.auth-form__input{
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.6rem;
  border-radius: 2px;
  border: 1px solid var(--border-color);
  outline: none;
}

.auth-form__input:focus{
  border-color: #777;
}

.auth-form__aside{
  margin-top: 18px;
}

.auth-form__police-text{
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}

.auth-form__police-link{
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__control{
  margin-top: 80px;
  margin-bottom: 20px;
}

.auth-form__control{
  display: flex;
  justify-content: flex-end;
}

.auth-form__control-back{
  margin-right: 8px;
}

.auth-form__social{
  background-color: #f5f5f5;
  padding: 16px 36px;
  display:flex;
  justify-content: space-between;
}

.auth-form__social-icon{
  font-size: 2rem;
}

.auth-form__social--facebook{
  background-color: #3a5a98;
  color: var(--white-color);
}

.auth-form__social--facebook .auth-form__social-icon{
  color: var(--white-color);
}

.auth-form__social-title{
  margin: 0 36px;
}

.auth-form__social--google{
  color: #666;
  background-color: var(--white-color);
}

.auth-form__help{
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link{
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
}

.auth-form__help-separate{
  display:block;
  height: 4px 16px 0px;
  margin: 0 16px;
  border-left: 1px solid #eaeaea;
}

.auth-form__help-forgot{
  color: var(--primary-color);
}


/* quick review form */
.quick-review{
  display: none;
}

.quick-review-wrap{
  width: 656px;
  min-height: 360px;
  background-color: var(--white-color);
  display: flex;
  z-index: 3;
  border-radius: 5px;
  /* display: none; */
}
.quick-review-wrap-img{
  margin: 32px;
  width: 328px;
}

.quick-review-img{
  width: 296px;
  height: 301px;
}
.quick-review-container{
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.quick-review-name{
  font-size: 3rem;
  line-height: 3rem;
  color: var(--text-color);
}

.quick-review-price-current{
  font-size: 3rem;
  line-height: 3rem;
  margin-top: 1.2rem;
  color: var(--text-color);
}

.quick-review-price-sale{
  display: flex;
  margin-top: 12px;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--text-color);

}

.quick-review-price-old{
  margin-right: 12px;
  text-decoration: line-through;
}

.quick-review-size{
  font-size: 3rem;
  line-height: 3rem;
  margin-top: 1.2rem;
  color: var(--text-color);
}

.quick-review-btn-size{
  display: flex;
  flex-wrap: wrap;
}

.quick-review-btn-size__btn{
  min-width: 0;
  width: 80px;
  background-color: var(--white-color);
  color: var(--text-color);
  margin: 12px 12px 12px 0;
  border: 1px solid var(--primary-color);
}

.quick-review-btn-size__btn:active{
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid var(--border-color);
}

.quick-review-btn-add-to-cart{
  min-width: 0;
  width: 264px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 2px;
  border: 1px solid var(--border-color);
  margin-top: 7px;
  margin-bottom: 32px;
}

.quick-review-btn-add-to-cart:hover{
  background-color:rgba(238, 77, 45, 0.7)
}
/* -------------------------------------------- */
/* -----------------Header with search----------- */
/* --------------------------------------------- */
.header__logo{
  margin-right:80px;
}

.header-with-search{
  height:var(--header-with-search-height);
  display:flex;
  align-items: center;
  margin: 0 8px;
}

.header__logo-link{
  text-decoration: none;
  border: transparent;
}

.header__logo-img{
  width: 150px;
  color: white;
}

.header__search{
  height: 40px;
  flex: 1;
  background-color: var(--white-color);
  border-radius: 2px;
  display:flex;
  align-items: center;
  
}

.header__cart{
  width:150px;
  text-align: center;
  margin-top: 1px;
}

.header__cart-wrap{
  position: relative;
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list{
  display: block;
}

.header__cart-icon{
  color: var(--white-color);
  font-size: 2.4rem;
}

.header__cart-list{
  position: absolute;
  top: calc(100% + 10px);
  right: -3px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 1px 1rem 0 rgba(0, 0, 0, 0.2);
  animation: fadeIn ease-in 0.2s;
  cursor: default;
  display:none;
  z-index: 2;
}

.header__cart-list::after{
  content: "";
  position: absolute;
  cursor: pointer;
  right: 3px;
  top: -26px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart{
  padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-list--no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg{
  display: block;
  margin-left: auto;
  margin-top: auto; 
}

.header__cart-list--no-cart-img{
display: none;
  width: 60%;
}

.header__cart-list--no-cart-msg{
  font-size: 1.4rem;
  margin-top: 14px;
  color: var(--text-color);
  text-align: center;
  display: none;
}

.header__cart-notice{
  position: absolute;
  top: -8px;
  left: 28px;
  padding: 1px 6px;
  color: var(--primary-color);
  background-color: var(--white-color);
  font-size: 1.4rem;
  border-radius: 10px;
  border: 2px solid #ee4d2d;
}

.header__search-input-wrap{
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 2px;
}

.header__search-selection{
  width: 130px;
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.header__search-selection-label{
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-selection-icon{
  font-size: 1.4rem;
  color: #4a4a4a;
  margin: 0 16px 0 8px;
  position: relative;
  top: 1px;
}

.header__search-btn{
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  border-radius: 2px;
  margin-right: 3px;
  width: 60px;
  outline: none;
}

.header__search-btn:hover{
  background-color: #fb6445;
  cursor: pointer;
}

.header__search-btn-icon{
  font-size: 1.4rem;
  color: var(--white-color);
}

.header__search-selection:hover .header__search-option{
  display: block;
}

.header__search-option{
  position: absolute;
  right: 0;
  top: calc(100% - 1px);
  width: 128px;
  box-shadow: 0 1px 1px #ccc;
  padding-left: 0;
  margin-top: 14px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.header__search-option::after{
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  /* background-color: red; */
  top: -15px;
  left: 0;
  position: absolute;
}

.header__search-option-item{
  background-color: var(--white-color);
  padding: 8px;
  list-style: none;
}

.header__search-option-item:first-child{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.header__search-option-item:last-child{
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__search-option-item:hover{
  background-color: #fafafa;
  cursor: pointer;
}

.header__search-option-item span{
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.header__search-option-item i{
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-left: 12px;
  display: none;
}

.header__search-option-item--active i{
  display: inline-block;
}

.header__search-input:focus ~ .header__search-history{
  display: block;
  z-index: 2;
}
/* search history */

.header__search-history{
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 5px rgb(179, 178, 178);
  display: none;
  overflow: hidden;
  z-index: 2;
}

.header__search-history-heading{
  margin: 6px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__search-history-list{
  padding-left: 0;
  list-style-type: none;
}

.header__search-history-list-item{
  height: 38px;
  padding: 0 12px;
  margin-bottom: 6px 0 0 0;
}

.header__search-history-list-item:hover{
  background-color: #fafafa;
}

.header__search-history-list-item a{
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
  display: block;
}



/* has cart */
.header_cart-heading{
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__cart-list-item{
  padding-left: 0;
  list-style: none;
  max-height: 56vh;
  overflow-y: auto;
}

.header__cart-item{
  display: flex;
  align-items: center;
}

.header__cart-item:hover{
  background-color: #f8f8f8;
}

.header__cart-view-cart{
  float: right;
  margin: 0 12px 12px 0;
  margin-top: 10px;
}

.header__cart-view-cart:hover{
  background-color: rgba(238, 77, 45, 0.8)
}

.header__cart-img{
  width: 42px;
  height: 42px;
  margin: 12px;
  border: 1px solid #e8e8e8;
}
.header__cart-item-info{
  width: 100%;
  margin-right: 12px;
}

.header__cart-item-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__cart-item-name{
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  margin: 0;
  line-height: 2rem;
  max-height: 4rem;
  overflow: hidden;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}

.header__cart-item-item-price{
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}

.header__cart-item-item-multiplier{
  font-size: 0.9rem;
  margin: 0 4px;
  color: #757575;
}

.header__cart-item-item-quantity{
  font-size: 1.2rem;
  color: #757575;
}

.header__cart-item-body{
  display: flex;
  justify-content: space-between;
}

.header__cart-item-description{
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}

.header__cart-item-remove{
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
}

.header__cart-item-remove:hover{
  color: var(--primary-color);
  cursor: pointer;
}


/* ---------------------------------------- */
/* ------------Container------------------- */
/* ---------------------------------------- */
.app__container{
  background-color: #f5f5f5;
  padding-bottom: 10px;
}

.app__content{
  padding-top: 36px;
}

.category{
  background-color: var(--white-color);
  border-radius: 2px;
}

.category__heading{
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
  padding: 18px 16px 0;
  margin-top: 0;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
  text-transform: uppercase;
}

.category-list{
  padding: 0 0 8px 0;
  list-style: none;
  margin-top: 16px;
}

.category-item{
  position: relative;
  /* padding: 8px 0; */
}

.category-item:first-child::after{
  display: none;
}

.category-item::after{
  content: "";
  border-top: 1px solid #e1e1e1;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
}

.category-item--active .category-item__link{
  color: var(--primary-color);
}

.category-item--active .category-item__link::before{
  top: 50%;
  left: 8px;
  transform: translateY(calc(-50% - 1px));
  content: "";
  position: absolute;
}

.category-item__link{
  position: relative;
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  padding: 10px 20px;
  right: 0;
}

.category-item__link:hover{
  color: var(--primary-color);
}

/*-------------- home slide show----------- */
/* ---------------------------------------- */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* -------------------------------------- */
/* -------------End slide show----------- */
/* -------------------------------------- */


/*----- home sort and filter----- */

.home-filter{
  display:flex;
  align-items: center;
  background-color: rgba(0, 0 , 0, 0.2);
  padding: 12px 22px;
  border-radius: 2px;
}

.home-filter__label{
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}

.home-filter__btn{
  margin-right: 12px;
  min-width: 90px;
}

.select-input__label{
  width: 150px;
  font-size: 1.4rem;
}
/* product item */
.home-product{
  margin-bottom: 10px;
}

.home-product-item{
  display: block;
  text-decoration: none;
  background-color: var(--white-color);
  margin-top: 10px;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0.05s;
  will-change: transform;
}

.home-product-item:hover{
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-2px);
}

.home-product-item__img{
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-position: top center;
}

.home-product-item__name{
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.8rem;
  height: 3.6rem;
  margin: 10px 10px 4px;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

.home-product-item__price{
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.home-product-item__old{
  margin-left: 10px;
  font-size: 1.3rem;
  color: #666;
  text-decoration: line-through;
}

.home-product-item__current{
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 10px;

}

.home-product-item__action{
  display: flex;
  justify-content: space-between;
  margin: 4px 10px 0;
}

.home-product-item__like{
  font-size: 1.3rem;
}

i.home-product-item__like-icon-fill{
  color: #f63d30;
  display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill{
  display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty{
  display: none;
}

.home-product-item__rating{
  font-size: 1rem;
  margin: -1px 0 0 auto;
}

.home-product-item__star-gold{
  color: var(--star-gold-color);
}

.home-product-item__sold{
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 6px;
}

.home-product-item__origin{
  display: flex;
  justify-content: space-between;
  margin: 3px 10px 0;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;
}

.home-product-item__favorite{
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--primary-color);
  background-color: currentColor;
  font-size: 1.2rem;
  font-weight: 500;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.home-product-item__favorite::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(30%);
}

.home-product-item__favorite i{
  color: var(--white-color);
  font-size: 0.9rem;
  margin: 0 2px 0 5px;
  line-height: 1.6rem;
}
.home-product-item__favorite span{
  color: var(--white-color);
}

.home-product-item__sale-off{
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 36px;
  background-color: rgba(255, 216, 64, 0.94);
  text-align: center;
  border-top-right-radius: 2px;
}

.home-product-item__sale-off::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 20px 6px;
  border-style: solid;
  border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}

.home-product-item__sale-off-percent{
  color: #ee4d2d;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.3rem;
  position: relative;
  top: 4px;
}

.home-product-item__sale-off-label{
  color: var(--white-color);
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 600;
  position: relative;
  top: 4px;
}

.home-product-item__quick-add{
  display: flex;
  justify-content: center;
}

.home-product-item__quick-add:hover .home-product-item__btn-quick-add{
  background-color: rgba(238, 77, 45, 0.8);
}

.home-product-item__btn-quick-add{
  width: 50px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* ----------------------------------- */
/* -----------footer------------------ */
/* ----------------------------------- */
.footer{
  padding-top: 12px;
  border-top: 4px solid var(--primary-color);
}

.footer__heading{
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(text_color);
}

.footer__list{
  padding-left: 0;
  list-style: none;
}

.footer__list-item-link{
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 2px 0;
  display: block;
  display: flex;
  align-items: center;
}

.footer__list-item-link:hover{
  color: var(--primary-color);
}

.footer__list-item-icon{
  font-size: 1.7rem;
  margin: -1px 8px 0 0;
}

.footer__download{
  display: flex;
}

.footer__download-qr{
  width: 80px;
  height: 80px;
  object-fit: contain;
  border: 1px solid var(--border-color);
}

.footer__download-apps{
  flex: 1;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__download-app-img{
  height: 16px
}

.footer__download-app-link{
  text-decoration: none;
  color:transparent;
}
/* -------------------------------- */
/* ----------------javascript------- */
/* --------------------------------- */

.remove-login{
  display: none;
}

.form__active{
  display: block;
}

.form__active-modal-form{
  display: flex;
}